@charset "UTF-8";
  *{
    margin: 0px;
    padding: 0px; 
  }

body{
    background-size: cover;
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
   
 
}

section#cel{
  background-image: url(imagens/frame-iphone.png);
  background-repeat: no-repeat;
  position: absolute ;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 320px;
  height: 650px;
}

iframe#tela{
  position: relative;
  left: 22px;
  top: 80px;
  height: 480px;
  width: 268px;

}

img{
  width: 50px;
  margin: 10px;
  border-radius: 50%;
}

section.rede img:hover{
   transform: translate(-3px,-3px);
   border: 2px solid white;
}